.hole-page{
    position:fixed;
    padding:0;
    margin:0;
    
    top:0;
    left:0;
    
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
.active{
    font-weight: bold;
}
.container{
    //border: 1px solid red;
    @media (min-width: 1200px) {
        .container{
            max-width: 970px;
        }
    }
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.btn-group {
    justify-content: space-around;
}


.x{
    background-color: #0278FF;
    border-radius: 6px;
    margin-bottom: 20px;
}
.navbar-brand{
    color: white;
    
}
#poc, #reg, #pri, #stu, #pra, #mpr, #izv, #ocj, #arh, #pro, #odj{
    &:hover{
        color: white;
    }
}